<!DOCTYPE html>
<html>
<head>
    <title>Reddit Post</title>
</head>
<body>
    <h1>Post to Reddit</h1>
    
    <!-- Form for text post -->
    <form action="/post" method="POST">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="url">Content:</label><br>
        <textarea id="url" name="url"></textarea><br>
        <input type="submit" value="Submit Text Post">
    </form>
    
    <!-- Form for image post -->
    <form action="/post-image" method="POST" enctype="multipart/form-data">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="image">Image:</label><br>
        <input type="file" id="image" name="image"><br>
        <input type="submit" value="Submit Image Post">
    </form>
</body>
</html>
